
/*General*/
body * {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container-flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container-flex-row-reverse{

}
.container-flex-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.container-flex-column-reverse{

}
.bg-My-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/Cm.JPG');
    min-height: 100%;
    z-index: 1;
    position: fixed;
    filter: grayscale(100%);
    width: 40%;
    top: 0;
    left: 0;
}
.ico-hamburger{
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
}
.img-porta{
  height: 200px;
  width: 200px;
  overflow: hidden;
}
