
/*General*/
body, h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", sans-serif;
}
.container-flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container-flex-row-reverse{

}
.container-flex-column{

}
.container-flex-column-reverse{

}
.sideRight{
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    filter: grayscale(100%);
}
.bg-My-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/Cm.JPG');
    min-height: 100%;
}
