/*GENERAL*/
html, body, body * {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bg-grey{
  background-color: grey;
}
.txt-white{
  color: white;
}
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.txt-gold{
  color: gold;
}
/*SECTION NAVBAR*/
.navbar{
  margin: 0px;
  border: 0px;
}
nav #menu a {
  font-size: 0.5em !important;
}
nav #menu a:hover {
  font-size: 0.7em !important;
  background-color: white;
  color: grey !important;
  border-radius: 8px;
  border: 1px solid grey;
  transition: all 0.8ms ease 0.8ms;
}

@media (min-width: 768px){
  .navbar {
       border-radius: 0px;
  }
}
.logocm{
  background-image: url(../img/logocm.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 35px;
  height: 35px;
}
nav #menu a{
  color: white;
  font-size: 18px;
  font-weight: lighter;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}
/*SECTION YO*/
.cindy{
  background-image: url(../img/Cm.JPG);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center top;
  width: 8rem;
  height:8rem;
}
#yo{
  padding: 100px 0;
}
#rs *, #rs a{
  text-decoration: none;
  color: grey;
}
#msj{
  font-size: 18px;
  font-weight: lighter;
}
/*.parpadea {

  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}*/

/*PROYECTOS SECTION*/
.labcar{
  background-image: url(../img/taxi.png);
}
.p-materialize{
  background-image: url(../img/consola.png);
}
.lyft{
  background-image: url(../img/lyft.png);
}
.pinterestify{
  background-image: url(../img/pinterestify.png);
}
.lovelace{
  background-image: url(../img/lovelace.png);
}
.applove{
  background-image: url(../img/applove.png);
}
.detalles{
  background-size: 40% 40%;
  background-repeat: no-repeat;
  background-position:top center;
  width: auto;
  height:20rem;
}
.btn-py{
  text-align: center;
  background-color: dimgray ;
  border-color: gold;
  width: auto;
  color: gold;
}
.btn-py:hover{
  color: grey;
  border-color: grey;
  background-color: gold;
}
.glyphicon-chevron-left, .glyphicon-chevron-right{
  color: white;
}
.espacio-py{
  padding: 5px 0px;
}
#carousel-py{
padding: 100px 0;
}
/*CONTAC SECTION*/
#contac{
  padding-top: 80px;
  padding-bottom: 80px;

}
#contac *{
  font-weight: lighter;
}
.espacio-p{
  padding-top: 40px;
  padding-bottom: 40px;
}
.input-group-addon{
  background-color: transparent;
  border-right: none;
  height: 40px;
}
.form-control{
  border-left: none;
  height: 40px;
}
.form-control:focus{
  box-shadow: none;
  border-color: lightgray;
}
/*FOOTER SECTION*/
footer , footer *{
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 100;
  font-size: 16px;
  background-color: grey;
  color: white;
}
