/*GENERAL*/
 body, body * {
  font-family:'Montserrat', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*SECTION NAVBAR*/
nav ul a{
  font-size: larger;
}
/*parallax*/

.parallax-container {
    height: 800px;
}
.parallax img{
  width: 3000px;
  height: 2000px;
}

/*SECTION YO*/
#yo,#py,#contac{
  padding: 100px 0px;
}
@media only screen and (max-width: 993px){
  h1{
    font-size: 2.1rem !important;
  }
  .card .card-title{
    font-size: 18px;
  }
}
 .waves-effect.waves-white .waves-ripple {
   background-color: white;
 }
#msj{
  padding: 10px 0;
}
#rs a i{
  color: black;
}
#rs a i:hover{
  color: grey;
}
/*.parpadea {

  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}*/

/*PROYECTOS SECTION*/
h1{
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem;
  font-weight: 400;
}
#py .card-image img{
  height: 750px;
}
#py .card-action a{
  color: white;
}
#panel{
  padding: 20px !important;
}
/*CONTAC SECTION*/
  .input-field label {
     color: purple !important;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: purple !important;
   }
   .input-field input[type=email]:focus + label {
     color: purple !important;
   }
   .input-field textarea:focus + label {
     color: purple !important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid purple !important;
     box-shadow: 0 1px 0 0 purple !important;
   }
   .input-field input[type=email]:focus {
     border-bottom: 1px solid purple !important;
     box-shadow: 0 1px 0 0 purple !important;
   }
   .input-field textarea:focus {
     border-bottom: 1px solid purple !important;
     box-shadow: 0 1px 0 0 purple !important;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid purple !important;
     box-shadow: 0 1px 0 0 purple !important;
   }
   .input-field input[type=email].valid {
     border-bottom: 1px solid purple !important;
     box-shadow: 0 1px 0 0 purple !important;
   }
   .input-field textarea.valid {
     border-bottom: 1px solid purple !important;
     box-shadow: 0 1px 0 0 purple !important;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid purple !important;
     box-shadow: 0 1px 0 0 purple !important;
   }
   .input-field input[type=email].invalid {
     border-bottom: 1px solid purple !important;
     box-shadow: 0 1px 0 0 purple !important;
   }
   .input-field textarea.invalid {
     border-bottom: 1px solid purple !important;
     box-shadow: 0 1px 0 0 purple !important;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: purple !important;
   }

/*FOOTER SECTION*/
footer a {
  color: white;
  padding: 10px;
}
footer a i {
  font-size: 40px;
}
