

/*General*/
/*color texto crema*/
/*rgb(244,214,167)*/
/*color chocolate
rgb(161,128,114)*/
/*negro claro
rgb(20,20,20)*/
@import url('https://fonts.googleapis.com/css?family=Gruppo');
/*GENERAL*/
body * {
  font-family: 'Gruppo', cursive;
  font-size: 20px;
  font-weight: bold;
  color: rgb(64,64,64);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p{
  text-align: center;
}
img{
  width: 100%;
  height: 100%;
}
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.top-bot{
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.no-margin{
  margin: 0;
}
h1,h2,h3{
  text-transform: uppercase;
  font-size:4rem;
  text-align: center;
}
.margin{
  margin: 1rem;
}
.p{
  font-family: 'Gruppo', cursive;
  font-size: 18px;
  font-weight: lighter;
}
.btn, .btn-default{
  font-family: 'Gruppo', cursive;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  border: none;
}
/*MENU SECTION*/
#menu a {
  /*width: 50px;*/
}
.fixed {
  position: fixed;
  z-index: 1;
  bottom: 50%;
  right: 1%;
}
/*TECH SKILLS*/
.js{
  background-image: url(../img/js.png);
  background-size: 100% 100%;
  width: 100%;
  height:30rem;
}
.ac{
  background-image: url(../img/ac.jpg);
  background-size: 100% 100%;
  width: 100%;
  height:30rem;
}
.boot{
  background-image: url(../img/boot.png);
  background-size: 100% 100%;
  width: 100%;
  height:30rem;
}
.comp{
  background-image: url(../img/comp.png);
  background-size: 100% 100%;
  width: 100%;
  height:30rem;
}
.html{
  background-image: url(../img/html.jpg);
  background-size: 100% 100%;
  width: 100%;
  height:30rem;
}
.jquery{
  background-image: url(../img/jquery.png);
  background-size: 100% 100%;
  width: 100%;
  height:30rem;
}
.node{
  background-image: url(../img/node.png);
  background-size: 100% 100%;
  width: 100%;
  height:30rem;
}
.rd{
  background-image: url(../img/rd.jpg);
  background-size: 100% 100%;
  width: 100%;
  height:30rem;
}
.sass{
  background-image: url(../img/sass.png);
  background-size: 100% 100%;
  width: 100%;
  height:30rem;
}
.seo{
  background-image: url(../img/seo.jpg);
  background-size: 100% 100%;
  width: 100%;
  height:30rem;
}

#carousel-example-generic img{
  height: 500px;
}

/*PROYECTOS SECTION*/
.labcar{
  background-image: url(../img/labcar.png);
  background-size: 100% 100%;
  width: 30rem;
  height:10rem;
}
.pokedex{
  background-image: url(../img/pokedex.png);
  background-size: 100% 100%;
  width: 30rem;
  height:10rem;
}
.yape{
  background-image: url(../img/yape.jpg);
  background-size: 100% 100%;
  width: 30rem;
  height:10rem;
}

/*FOOTER SECTION*/
footer , footer *{
background-color: grey;
color: white;
margin: 5px;
padding-top: 8px;
padding-bottom: 8px;
}
